*.out
*.obj
*.exe
.idea
.vscode
forca
invertendoBooleanos
loopDoWhile
adivinhacao
antesDoArray
array
desafioMultiplicacao
numerosFor
numerosWhile
olaLinguagemC
somaDosNumeros
tabuada
forca.out
invertendoBooleanos.out
loopDoWhile.out
adivinhacao.out
antesDoArray.out
array.out
desafioMultiplicacao.out
numerosFor.out
numerosWhile.out
olaLinguagemC.out
somaDosNumeros.out
tabuada.out
forca.exe
invertendoBooleanos.exe
loopDoWhile.exe
adivinhacao.exe
antesDoArray.exe
array.exe
desafioMultiplicacao.exe
numerosFor.exe
numerosWhile.exe
olaLinguagemC.exe
somaDosNumeros.exe
tabuada.exe